.pl{
    padding: 50px 50px ;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}
.pI-texts{
    width: 65%;
}
.pI-title{
    font-size: 50px ;
    font-weight: 600;
}
.pI-desc{
    margin: 20px 0px;
}
.pI-list{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
}